<div class="order">
    {{#if products.length}}            
        {{#isEqual status 'submitted'}}
            <p>Ordered by: {{creator}}</p>
            <p>Ordered at: {{createdAt}}</p>        
        {{/isEqual}}
        {{#isEqual status 'approved'}}
            <p>Ordered by: {{creator}}</p>
            <p>Ordered at: {{createdAt}}</p>
            <p>Approved by: {{approver}}</p>
            <p>Approved at: {{approvedAt}}</p>            
        {{/isEqual}}
        <h3>Products</h3>
        <ul class="order__products">
            {{#each products}}
                <li class="order__products-item"><p>Product description: {{product.description}},</p> 
                {{#isEqual ../status 'pending'}}                    
                    <p>
                        Amount: 
                        <input type="number" min="0" value="{{amount}}"></input>
                        <button class="order__remove-button" data-id="{{product.id}}"><i class="fa fa-times"></i></button>
                    </p>
                {{else}}
                    <p>Amount: {{amount}}</p> 
                {{/isEqual}}                        
                </li>
            {{/each}}
        </ul>
        {{#isEqual status 'pending'}}
            <button>Submit</button>
        {{/isEqual}}        
        {{#isEqual status 'submitted'}}
            <button>Approve</button>
        {{/isEqual}}
    {{/if}}
</div>