<div class="product-container col-x-small-6 col-small-4 col-large-4 col-x-large-3">
    <div class="product">
        <img class="product__image" src="{{image}}" alt="Image of {{name}}" />
        <h2 class="product__name">{{name}}</h2>
        <small>by {{producer}}</small>
        <p class="product_description">{{description}}</p>
        {{#ifGreaterThan stock 5}}
            <p class="product__stock">In stock</p>
        {{else}}
            {{#ifGreaterThan stock 0}}
                <p class="product__stock -warning">Only {{stock}} in stock</p>        
            {{else}}
                <p class="product__stock -alert">Out of stock</p>                
            {{/ifGreaterThan}}
        {{/ifGreaterThan}}
        <p class="product__price">€{{price}}</p>
        <div class="quantity-container {{#if isInPendingPurchase}}hide{{/if}}" data-id="{{id}}">
            <label for="quantityOption-{{id}}">Qty:</label>
            <select class="option" name="quantityOption-{{id}}" id="quantityOption-{{id}}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>        
        </div>
        <div class="button-placement-container -pull-down">
            <div class="button-container">        
                <button class="button -full-width remove {{#unless isInPendingPurchase}}hide{{/unless}}" data-id="{{id}}">Remove from Purchase</button> 
                <button class="button -full-width -action show-x-small show-small show-medium add {{#if isInPendingPurchase}}hide{{/if}}" data-id="{{id}}">Add to Purchase</button>
                <button class="button -half-width -pull-right -action hide-x-small hide-small hide-medium add {{#if isInPendingPurchase}}hide{{/if}}" data-id="{{id}}">Add to Purchase</button>
            </div>
        </div>
    </div>
</div>
            