<div class="product-container">
    <div class="product">
        <img class="product__image" src="{{image}}" />
        <p class="product__name">{{name}}</p>
        <p class="product__producer">by {{producer}}</p>
        <p class="product__description">{{description}}</p>
        {{#ifGreaterThan stock 5}}
            <p class="product__stock">{{stock}} in stock</p>
        {{else}}
            {{#ifGreaterThan stock 0}}
                <p class="product__stock -warning">Only {{stock}} in stock</p>        
            {{else}}
                <p class="product__stock -alert">Out of stock</p>                
            {{/ifGreaterThan}}
        {{/ifGreaterThan}}
        <p class="product__price">€ {{price}}</p>
        <button class="product__button -info remove {{#unless isInCart}}hide{{/unless}}" data-id="{{id}}">Remove from Cart</button>        
        <button class="product__button -action add {{#if isInCart}}hide{{/if}}" data-id="{{id}}">Add to Cart</button>
    </div>
</div>
            