<div class="purchase-container col-x-small-12 col-small-12 col-large-4 col-x-large-3">
    <div class="purchase {{#isEqual status 'approved'}}-approved{{/isEqual}}">
        {{#if products.length}}   
            <div class="products-section">         
                <h2>Purchase</h2>
                <table class="purchase__products">
                    <tr class="purchase__product {{#isEqual ../status 'pending'}}-pending{{/isEqual}}">                                        
                        <td class="purchase__product-details -name">Name</td> 
                        <td class="purchase__product-details -price">Price</td>
                        <td class="purchase__product-details -amount">Qty</td>
                    </tr>                                                
                    {{#each products}}                    
                        <tr class="purchase__product {{#isEqual ../status 'pending'}}-pending{{/isEqual}}">                                        
                            <td class="purchase__product-details -name">{{product.name}}</td> 
                            <td class="purchase__product-details -price">€{{product.price}}</td>             
                            {{#isEqual ../status 'pending'}}       
                                <td class="purchase__product-amount">
                                    <input type="number" min="0" data-id="{{product.id}}" value="{{amount}}"></input>
                                    <button class="button remove-product" data-id="{{product.id}}"><i class="fa fa-times"></i></button>
                                </td>
                            {{else}}
                                <td class="purchase__product-details -amount">{{amount}}</td> 
                            {{/isEqual}}      
                        </tr>
                    {{/each}}
                </table>
                {{#isEqual status 'pending'}}
                    <div class="button-placement-container -pull-down">
                        <div class="button-container">                 
                            <button class="button -full-width submit show-x-small show-small" data-id={{id}}>Submit</button>
                            <button class="button -half-width -pull-right submit hide-x-small hide-small" data-id={{id}}>Submit</button>
                        </div>
                    </div>      
                {{/isEqual}}
            </div>
            {{#isEqual status 'submitted'}}
                <h2>Timeline</h2>                      
                <p>Purchased by: {{creator}}</p>
                <p>Purchased at: {{createdAt}}</p>        
                <div class="button-placement-container -pull-down">
                    <div class="button-container">                 
                    <button class="button -full-width approve show-x-small show-small" data-id={{id}}>Approve</button>
                    <button class="button -half-width -pull-right approve hide-x-small hide-small" data-id={{id}}>Approve</button>
                    </div>
                </div>                
            {{/isEqual}}
            {{#isEqual status 'approved'}}
                <h2>Timeline</h2>                      
                <p>Purchased by: {{creator}}</p>
                <p>Purchased at: {{createdAt}}</p>            
                <p>Approved by: {{approver}}</p>
                <p>Approved at: {{approvedAt}}</p>            
            {{/isEqual}}     
        {{/if}}
    </div>
</div>