<header>
    {{> navigation}}
</header>

<h1>This is build.it</h1>
<p class="byline -centered">The place to find what you need, quickly</p>    

<div class="widget-container col-x-small-10 col-x-small-offset-1 visible-xs">
    <div class="widget -barcode">   
        <h2>Want to scan a barcode?</h2>
        <p>If you have that barcode for the product you need, you can take advantage of the easy-to-use Barcode Scanner.</p>
        <button class="button -half-width">Go to</br>Barcode Scanner</button>
    </div>
</div>

<div class="widget-container col-x-small-10 col-x-small-offset-1  col-small-6 col-small-offset-3  col-large-3 col-large-offset-2">
    <div class="widget -products">
        <h2>Want to place a new order?</h2>    
        <p>{{products.length}} {{#isEqual products.length 1}}product is{{else}}products are{{/isEqual}} available in the product catalog.</p>
        <button class="button -half-width">Go to</br>Product Catalog</button>
    </div>
</div>

<div class="widget-container col-x-small-10 col-x-small-offset-1 col-small-6 col-small-offset-3 col-large-3 col-large-offset-2">
    <div class="widget -orders">
        <h2>Want to see the current order status and order history?</h2>
        <p>{{pendingOrder.length}} {{#isEqual pendingOrder.length 1}}order is{{else}}orders are{{/isEqual}} waiting to be submitted.</p>
        <p>{{submittedOrders.length}} {{#isEqual submittedOrders.length 1}}order is{{else}}orders are{{/isEqual}} waiting to be approved.</p>
        <p>{{approvedOrders.length}} {{#isEqual approvedOrders.length 1}}order has{{else}}orders have{{/isEqual}} been approved.</p>        
        <button class="button -half-width">Go to</br>Order Overview</button>
    </div>
</div>
