<header>
    {{> navigation}}
</header>

<h1>This is build.it</h1>
<p class="centered">The place to find what you need, quickly</p>

<div class="widget col-large-4 col-large-offset-1">
    <div class="widget-content-container -products">
        <h2>Want to place a new order?</h2>    
        <p>{{products.length}} {{#isEqual products.length 1}}product is{{else}}products are{{/isEqual}} available in the product catalog</p>
        <button class="button -half-width">Go to Product Catalog</button>
    </div>
</div>

<div class="widget visible-xs">
    <h2>Want to scan a barcode?</h2>
    <button class="button -half-width">Go to the Barcode Scanner</button>
</div>

<div class="widget col-large-4 col-large-offset-2">
    <div class="widget-content-container -orders">
        <h2>Want to see the current order status and order history?</h2>
        <p>{{pendingOrders.length}} {{#isEqual pendingOrders.length 1}}order is{{else}}orders are{{/isEqual}} waiting to be submitted</p>
        <p>{{submittedOrders.length}} {{#isEqual submittedOrders.length 1}}order is{{else}}orders are{{/isEqual}} waiting to be approved</p>
        <p>{{approvedOrders.length}} {{#isEqual approvedOrders.length 1}}order has{{else}}orders have{{/isEqual}} been approved</p>        
        <button class="button -half-width">Go to Order Overview</button>
    </div>
</div>
    