<header>
    {{> navigation}}
</header>

<main class="home-page">
    <h1>Welcome to <span class="title">CONSTRUCTLY</span></h1>
    <small class="-centered">The place to purchase your construction tools and materials, quickly.</small>    

    <div class="widget-container col-x-small-10 col-x-small-offset-1 col-small-8 col-small-offset-2 show-x-small show-small">
        <div class="widget -barcode">   
            <h2>Scan a barcode?</h2>
            <p>If you have that barcode for the product you need, you can take advantage of the easy-to-use Barcode Scanner.</p>
            <div class="button-placement-container -pull-down">
                <div class="button-container barcode-scanner-widget">        
                    <input class="barcode-scanner__input" type="file" id="barcode-scanner-widget" accept="image/*">
                    <label class="barcode-scanner__label button -full-width" for="barcode-scanner-widget">Barcode Scanner</label>
                </div>
            </div>
        </div>        
    </div>

    <div class="widget-container col-x-small-10 col-x-small-offset-1 col-small-8 col-small-offset-2 col-medium-6 col-medium-offset-3 col-x-large-3 col-x-large-offset-2">
        <div class="widget -products">
            <h2>Make a purchase?</h2>    
            <p>{{products.length}} {{#isEqual products.length 1}}product{{else}}products{{/isEqual}} in the product catalog.</p>
            <div class="button-placement-container -pull-down">
                <div class="button-container">
                    <button class="button -half-width -pull-right hide-x-small hide-small">Product Catalog</button>
                    <button class="button -full-width show-x-small show-small">Product Catalog</button>
                </div>
            </div>
        </div>
    </div>

    <div class="widget-container col-x-small-10 col-x-small-offset-1 col-small-8 col-small-offset-2 col-medium-6 col-medium-offset-3 col-x-large-3 col-x-large-offset-2">
        <div class="widget -purchases">
            <h2>See all purchases?</h2>
            <p>{{#if pendingPurchase.products.length}}1 purchase is{{else}}0 purchases are{{/if}} waiting to be submitted.</p>
            <p>{{submittedPurchases.length}} {{#isEqual submittedPurchases.length 1}}purchase is{{else}}purchases are{{/isEqual}} waiting to be approved.</p>
            <p>{{approvedPurchases.length}} {{#isEqual approvedPurchases.length 1}}purchase has{{else}}purchases have{{/isEqual}} been approved.</p>        
            <div class="button-placement-container -pull-down">
                <div class="button-container">  
                    <button class="button -half-width -pull-right hide-x-small hide-small">Purchase Overview</button>
                    <button class="button -full-width show-x-small show-small">Purchase Overview</button>
                </div>
            </div>
        </div>
    </div>
</main>