<header>
    {{> navigation}}
</header>

<div class="product-page">
    <ul class="pagination -top">
            <!--<li><a href="{{products.[0].link}}">First</a></li>-->
            {{#each (generatePages products)}}
                <li><a href="{{link}}">{{number}}</a></li>
            {{/each}}
            <!--<li><a href="{{products.[products.length-1].link}}">Last</a></li>-->
   </ul>
   <div class="products">
        {{#each paginatedProducts}}
            {{> product}}
        {{/each}}
   </div>
    
   <ul class="pagination -bottom">
        <!--<li><a href="{{products.[0].link}}">First</a></li>-->
        {{#each (generatePages products)}}
            <li><a href="{{link}}">{{number}}</a></li>
        {{/each}}
        <!--<li><a href="{{products.[products.length-1].link}}">Last</a></li>-->
    </ul>
</div>