<header>
    {{> navigation}}
</header>

<div class="productCatalog">
    <ul class="pagination -top">
            <!--<li><a href="{{products.[0].link}}">First</a></li>-->
            {{#each (generatePages products)}}
                <li><a href="{{link}}">{{number}}</a></li>
            {{/each}}
            <!--<li><a href="{{products.[products.length-1].link}}">Last</a></li>-->
   </ul>
   <div class="products">
        {{#each paginatedProducts}}
            {{> product}}
        {{/each}}
   </div>
    
   <ul class="pagination -bottom">
        <!--<li><a href="{{products.[0].link}}">First</a></li>-->
        {{#each (generatePages products)}}
            <li><a href="{{link}}">{{number}}</a></li>
        {{/each}}
        <!--<li><a href="{{products.[products.length-1].link}}">Last</a></li>-->
    </ul>
</div>

<div class="camera-input visible-xs">
    <div class="barcode-scanner">
        <input class="barcode-scanner__input" type="file" id="barcode-scanner" accept="image/*">
        <label class="barcode-scanner__label button -full-width" for="barcode-scanner">Barcode Scanner</label>
    </div>

    <div class="modal-overlay" data-modal-class=".modal-barcode">

    </div>

    <div class="modal-barcode">
        {{> product randomProduct}}    
        <button class="barcode-scanner__close-button button -full-width" for="barcode-scanner">Close Barcode Scanner</button>
    </div>
</div>